@charset "utf-8";
@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunGs';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
div {
    box-sizing : border-box;
  }
  html {
    line-height : 1.15; /*기본 행간 높이*/
  }
*{
    background-color: black;
    color: white;
    font-size: 30px;
}
body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 900px;
    z-index: 4;
    position: sticky;
    top: 0;
    margin-top: 0;
    opacity: 1;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
section{
    width: 100%;
    height:100vh;
}
video{
    width: 100%;
    height: 100vh;
}
.imgs img{
    width: 100%;
    height: 100vh;
    animation: fadein 1s;
}
button {
    transform: translate(-50%);
    font-size: 30px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button:focus,
  button:hover {
    color: #fff;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  .logo2{
    opacity: 0;
    width: 300px;
    height: 100px;
    position: absolute;
    animation: fadein 0.5s;
    transform: translate(20%);
  }
.logo{
    width: 900px;
    height: 900px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: all 1s;
}
.Mainmenu{
    width:50%;
    margin-left: 49%;
    padding-top: 1.5%;
    text-align: center;
    display: none;
    animation: fadein 0.5s;
    transform: translate(1%);
    transition: all 1s;
}
.Mainmenu > button{
    border-radius: 20px;
    background-color: black;
    color: white;
    font-family: 'NeoDunggeunmoPro-Regular';
    margin-left: 50px;
    width: 150px;
    border: none;
}
.container{
    margin-top: 91vh;
}
.swiper img{
    width: 100%;
    height: 100%;
  }

footer{
    width: 100%;
    height: 89vh;
}
.scrollLock { overflow: hidden; }
:root { scroll-behavior : auto }